*{
    padding: 0px;
    margin: 0px;
    /* font-family: sans-serif; */
    font-family: 'Nunito', sans-serif;
    /* font-weight: normal;
    max-width: 100% !important; */
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.fa {
  margin-right: 5px;
}
.content-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: bold;
}

.content {
  float: left;
  width: 25%;
}

.content-icon {
  position: relative;
}

.content-icon p {
  width: 100%;
  color: #514f4f;
  font-weight: bold;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #9e9a9a;
}

/* contact-wrapper */
.contact-wrapper {
  text-align: center;
  width: 100%;
  background-color: rgba(46, 134, 222,1.0);
}
.message {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.email {
  background-color: #3b5998;
  margin-right: 10px;
}
.whatsapp {
  background-color: #449414;
  transition: 0.5s;
}
.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}
.email{
  box-shadow: 0 5px #8a8a89
}
.btn:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
.btn:hover {
  opacity: 1;
}
.whatsapp:hover{
  box-shadow: 0 5px #8a8a89
}
.fa {
  margin-right: 5px;
}
/* end contact wrapper */
/* team wrapper */
.team-wrapper {
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #b5b2b3;
  text-align: center;
}
.team {
  float: left;
  width: 20%;
}
.team-icon {
  position: relative;
}
.team-icon img{
  position: relative;
  width: 128px;
  height: 128px;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
        transition: transform 0.8s ease-in-out;
}
.team-icon img:hover{
  -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
}
.team-icon p {
  width: 100%;
  color: #0e3e7f;
  font-weight: bold;
}
.text-job {
  width: 80%;
  display: inline-block;
  margin-top: 5px;
  font-size: 15px;
  color: #4187e7;
}
/* end team-wrapper   */

footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}
.footer-left {
  float: left;
}

.footer-right {
  float: right;
  margin-right: 10px;
}

.footer-right a {
  line-height: 40px;
  padding: 0 5px;
  color: blue;
  display: inline-block;
  float: left;
  transition: all 0.5s;
  font-weight: bold;
}

.footer-right a:hover {
  background-color: rgba(50, 255, 255, 0.3);
}
/* ============= Responsive css =============== */
/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .content {
    width: 50%;
    margin-bottom: 50px;
  }
  .team {
    width: 50%;
    margin-bottom: 50px;
  }
  .heading h2 {
    font-size: 20px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .content {
    width: 100%;
  }
  .team {
    width: 100%;
  }
  footer {
    text-align: center;
    width: 100%;
  }
}
